<div class="hidden-md hidden-sm hidden-xs">LG</div>
<div class="hidden-lg hidden-sm hidden-xs">MD</div>
<div class="hidden-lg hidden-md hidden-xs">SM</div>
<div class="hidden-lg hidden-md hidden-sm">XS</div>

<div class="hidden-md-down">Hidden MD down</div>
<div class="hidden-sm-down">Hidden SM down</div>

<div class="hidden-md-up">Hidden MD up</div>
<div class="hidden-sm-up">Hidden SM up</div>
