.hidden-md.hidden-sm.hidden-xs LG
.hidden-lg.hidden-sm.hidden-xs MD
.hidden-lg.hidden-md.hidden-xs SM
.hidden-lg.hidden-md.hidden-sm XS

.hidden-md-down Hidden MD down
.hidden-sm-down Hidden SM down

.hidden-md-up Hidden MD up
.hidden-sm-up Hidden SM up
